#screen {
    height: 100vh;
    position: relative;
    padding: 5%;
}

input {
    display: block;
}

label {
    font-size: 16px;
    color: black;
}

#border {
    border: 20px solid #35455D;
    background-color: #d8e4e8;
    padding: 10px;
    position: relative;
    padding-bottom: 350px;
    margin-top: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 5px #808080;
}

#title {
    color: black;
}

.smaller_title {
    color: black;
    text-align: left;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

#login_wrapper {
    float: left;
    text-align: center;
    margin-left: 13%;
}

#login_form {
    text-align: center;
}

#create_acc_wrapper {
    float: right;
    text-align: center;
    margin-right: 13%;
}

#error_message {
    color: red;
    font-size: 14px;
    text-align: center;
}

.vertical {
    border-left: 1px solid black;
    height: 300px;
    position: absolute;
    left: 50%;
}

.button {
    background-color: #aec2d1;
    border-color: #aec2d1;
    width: 100px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
    font-family: "Times New Roman", Times, serif;
}

.button:hover {
    background-color: #5B9EA6;
    border-color: #5B9EA6;
}

@media (max-width : 1050px) {
    #login_wrapper {
        margin-left: 10%;
    }

    #create_acc_wrapper {
        margin-right: 10%;
    }

}

@media (max-width : 1000px) {
    #login_wrapper {
        margin-left: 8.5%;
    }

    #create_acc_wrapper {
        margin-right: 8.5%;
    }

}

@media (max-width : 950px) {
    #login_wrapper {
        margin-left: 7%;
    }

    #create_acc_wrapper {
        margin-right: 7%;
    }

}

@media (max-width : 900px) {
    #login_wrapper {
        float: none;
        margin-left: 0%;
        margin-bottom: 50px;
    }

    #create_acc_wrapper {
        float: none;
        margin-right: 0%;
    }

    .vertical {
        display: none;
    }

    #border {
        padding-bottom: 20px;
    }

    input {
        margin-left: auto;
        margin-right: auto;
    }
}